@import url('https://rsms.me/inter/inter.css');
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@3/distr/fira_code.css);

body {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', sans-serif;
    font-feature-settings: 'ss01' 1, 'kern' 1, 'liga' 1, 'cv05' 1, 'tnum' 1;
  }
}

p {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

canvas,
.CodeMirror {
  width: 512px;
  height: 512px;
  border: 1px solid #d3d3d3;
}
